{% extends "parent.html" %}
{% load static  %}
{% block first %}
<h1 style="background-color: white; text-align: center;">Relex and Start </h1>

<img src="{% static 'images/self5.png' %}" alt="NO image" height="955px;" width="500px;" style="margin-top: -10px;">
{% endblock first %}


{% block main %}
<h1 style="text-align: center;">About College </h1>
<ul>
    <li><b>Tilka Majhi Bhagalpur University, formerly Bhagalpur University, is a public university in Bhagalpur, Bihar, India. It was established on 12 July 1960, having local colleges initially associated with Patna University. Its campus is around 264 acres in area .</b></li><br/>
    <li ><b>तिलका मांझी भागलपुर विश्वविद्यालय भारत का एक सार्वजनिक विश्वविद्यालय है। यह बिहार के भागलपुर में स्थित है। इसका नामकरण प्रसिद्ध क्रांतिकारी तिलका माँझी के नाम पर किया गया है। इसकी स्थापना १२ जुलाई १९६० को की गयी थी।</b></li><br/>
    <li ><b>T. M. Bhagalpur University has six faculties: science, social science, humanities, commerce, management studies, and law. It has five research centres: Agro-Economic Research Centre, Centre of Bioinformatics, University Computer Centre, Centre for Regional Studies and Research Service Centre.</b></li><br>
    <li><b>
        Tilka Manjhi Bhagalpur University
        The Tilka Manjhi Bhagalpur University, also known as Bhagalpur University, is a premier institution for providing higher education in the state of Bihar. The university is situated in Bhagalpur town of Bihar State in India and is named after famous freedom fighter Tilka Manjhi. Established on 12 July 1960, it is a public university sprawled within 264 acres of lush green campus ideal for teaching and learning. The university has 6 Faculties, 34 Teaching Departments, 5 Research Centres and 12 Constituent Colleges, besides affiliated to it 11 Colleges and 14 B.Ed. Colleges.</b></li><br>
    <li><b>Tilka Majhi Bhagalpur University, formerly Bhagalpur University, is a public university in Bhagalpur, Bihar, India. It was established on 12 July 1960, having local colleges initially associated with Patna University. Its campus is around 264 acres in area .</b></li><br/>
    <li ><b>तिलका मांझी भागलपुर विश्वविद्यालय भारत का एक सार्वजनिक विश्वविद्यालय है। यह बिहार के भागलपुर में स्थित है। इसका नामकरण प्रसिद्ध क्रांतिकारी तिलका माँझी के नाम पर किया गया है। इसकी स्थापना १२ जुलाई १९६० को की गयी थी।</b></li><br/>
    <li ><b>T. M. Bhagalpur University has six faculties: science, social science, humanities, commerce, management studies, and law. It has five research centres: Agro-Economic Research Centre, Centre of Bioinformatics, University Computer Centre, Centre for Regional Studies and Research Service Centre.</b></li><br>
    <li><b>Tilka Majhi Bhagalpur University, formerly Bhagalpur University, is a public university in Bhagalpur, Bihar, India. It was established on 12 July 1960, having local colleges initially associated with Patna University. Its campus is around 264 acres in area .</b></li><br/>
    <li ><b>तिलका मांझी भागलपुर विश्वविद्यालय भारत का एक सार्वजनिक विश्वविद्यालय है। यह बिहार के भागलपुर में स्थित है। इसका नामकरण प्रसिद्ध क्रांतिकारी तिलका माँझी के नाम पर किया गया है। इसकी स्थापना १२ जुलाई १९६० को की गयी थी।</b></li><br/>

    
  </ul>



{% endblock main %}