{% extends "parent.html" %}
{% load static  %}


{% block first %}
<h1 style="background-color: white; text-align: center;">Any Enquiry call us </h1>

<img src="{% static 'images/self4.png' %}" alt="NO image" height="955px;" width="500px;" style="margin-top: -10px;">
{% endblock first %}


{% block main %}
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong> I hopr you are very  well . 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
{% endif %}
<script>
    function validate()
    {
        var name=document.getElementById("name");
        var contactno=document.getElementById("contactno");
        var emailaddress=document.getElementById("emailaddress");
        var emailexp=/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
        if(name.value=="" || name.value==null)
        {
            alert('Please Enter Your name :-');
            name.focus();

        }
        else if(contactno.value=="" || contactno.value==null)
        {
            alert('please Enter your  contact no:-');
            contactno.focus();

        }
        else if(isNaN(contactno.value))
        {
            alert('please Enter only numerical numbers only ');
            contactno.focus();

        }

        else if(contactno.value.length!=10)
        {
            alert('please Enter 10 digits number');
            contactno.focus();
        }
        else if (emailaddress.value=="" || emailaddress.value==null)
        {
            alert('Please Enter email address ');
            emailaddress.focus();

        }
        else if (!emailexp.test(emailaddress.value))
        {
            alert('Please Enter Valid Emailaddress')
            email.focus();            
        }
        else
        {
            document.getElementById("frmenquiry").submit();
        }
    }

</script>
<h1 style="text-align: center;">Enquiry form</h1>

<form id="frmenquiry" onsubmit="event.preventDefault();validate()" class="form-group" action="{% url 'lmsapp:contact' %}" method="post">
    {% csrf_token %}
    <table class=" table table-active table-primary table-hover " style="width:80%;margin:auto;">
        <tr>
            <td>Enter  Name </td>
            <td>
                <input type="text" name="name" class="form-control" id="name"/>
            </td>
        </tr>
        <tr>
            <td>Select Gender</td>
            <td>
                <input type="radio" name="gender" value="male" class="form-check-input"/>Male
                &nbsp; 
                &nbsp;
                &nbsp;  
                &nbsp;  
                
                <input type="radio" name="gender" value="female" class="form-check-input"/>Female 
            </td>
        </tr>
        <tr>
            <td> Enter Address </td>
            <td>
                <textarea  name="address" class="form-control"></textarea>
            </td>
        </tr>
        <tr>
            <td>Enter contact </td>
            <td>
                <input type="text" name="contactno" class="form-control"  id="contactno"/>
            </td>
        </tr>
        <tr>
            <td>Enter Email Address</td>
            <td>
                <input type="text" name="emailaddress" class="form-control" id="emailaddress"/>
            </td>
        </tr>
        <tr>
            <td>Enter Enquiry</td>
            <td>
            <textarea name="enquirytext" class="form-control"></textarea>
        </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <button type="submit" class="btn btn-success">Submit</button>
            </td>
        </tr>


    </table>

</form>
{% endblock main %}