{% extends "adminparent.html" %}
{% block body %}
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong> I hope you are very  well . 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
{% endif %}
    <div class="row">
           
        <div class="col-sm-12" style="overflow-x:scroll;">
            <h1 style="text-align:center;">Addbook Home</h1>
            <form  class="form-group" action="{% url 'adminapp:addbook' %}" method="post">
                {% csrf_token %}
                <table class="table table-bordered text-dark  table-active table-info table-hover" style="width:60%;  margin:auto; ">
                    <tr>
                        <td>Enter Book Id </td>
                        <td>
                            <input type="number" class="form-control text-light" name="bookid">
                        </td>
                    </tr>
                    <tr>
                        <td>Enter ISBN Number</td>
                        <td>
                            <input type="text" name="isbnno" class="form-control text-light"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Select Programe :-</td>
                        <td>
                            <select name="programe" class="form-control text-light">
                              <option selected>--Selected Programe--</option>
                              {% for p in program %}
                                    <option value="{{p.program}}">{{p.program}}</option>
                              {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Enter Branch</td>
                        <td>
                            <select name="branch" class="form-control text-light">
                                <option selected>--selected--</option>
                                {% for b in branch %}
                                    <option value="{{b.branch}}">{{b.branch}}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr  >
                        <td>Selected Year </td>
                        <td>
                            <select name="year" class="form-control text-light  ">
                                <option selected>---Selected---</option>
                                {% for y in year %}
                                    <option value="{{y.year}}">{{y.year}}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Enter Subject</td>
                        <td>
                            <input type="text" name="subject" class="form-control text-light">
                        </td>
                    </tr>
                    <tr>
                        <td>Enter Book Name</td>
                        <td>
                            <input type="text" name="bookname" class="form-control text-light">
                        </td>
                    </tr>
                    <tr>
                        <td>Book Author Name</td>
                        <td>
                            <input type="text" name="authorname" class="form-control text-light">
                        </td>
                    </tr>
                    <tr>
                        <td>Enter Quantity</td>
                        <td>
                            <input type="number"   value="1"  name="qty" class="form-control text-dark text-" readonly/>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <button type="submit" class="btn btn-warning">Add</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
{% endblock body %}
