{% extends "adminparent.html" %}
{% block body %}
    <div class="row">
        <h1 style="text-align:center;">View Complain</h1>   
        <div class="col-sm-12" style="overflow-x:scroll;">
            <table  class=" table table-bordered text-light ">
                <tr class="table-success" >
                    <th>Id</th>
                    <th>RollNo</th>
                    <th>Name</th>
                    <th>Branch</th>
                    <th>Year</th>
                    <th>Programe</th>
                    <th>ContactNo</th>
                    <th>Emailaddress</th>
                    <th>Subject</th>
                    <th>Feedback</th>
                    <th>Posted Date </th>
                </tr>
                {%  for f in complain %}
                <tr >
                    <td>{{forloop.counter}}</td>
                    <td>{{f.rollno}}</td>
                    <td>{{f.name}}</td>
                    <td>{{f.branch}}</td>
                    <td>{{f.year}}</td>
                    <td>{{f.programe}}</td>
                    <td>{{f.contactno}}</td>
                    <td>{{f.emailaddress}}</td>
                    <td>{{f.subject}}</td>
                    <td>{{f.responsetext}}</td>
                    <td>{{f.responsedate}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock body %}
